
@media screen and (max-width: 768px){
    .nav-link-section-links, .nav-icon-section, .nav-select-bar, .nav-select, .menu, .nav-search-button {
      display: none !important;
  }
  
  .nav-link-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar-container {
    display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
  }
  
  .nav-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .menu-button {
    position: absolute;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
  }
  
  .menu {
    position: fixed;
    top: 0;
    right: -500px;
    width: 300px;
    height: 100%;
    background-color: var(--color-nav);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.4);
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
  }
  
  #menuOpen:checked ~ .menu {
    right: 0;
  }
  
  
  .menu-button {
    background: transparent;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  }