:root {
  --color-nav: #7200fe;
  --color-button: #6502dd;
  --color-white: #dddddd;
  --color-gray: #1f1b1b;
}

header {
  font-family: Calibri;
}

.navbar-container {
  width: calc(100% - 80px);
  display: flex;
  padding: 8px 40px;
  justify-content: space-between;
  background-color: var(--color-nav);
  color: var(--color-white);
  height: 45px;
  align-items: center;
  font-family: Calibri;
}

.nav-link-section {
  display: flex;
  justify-content: flex-start;
  max-height: 32px;
  align-items: center;
  color: #fff;
}

.nav-link-section-links {
  display: flex;
}

.link-nav {
  color: var(--color-white);
  text-decoration: none;
  margin: 0 4px;
}

.link-nav:hover {
  color: #fff;
}

.nav-search-button {
  display: flex;
  align-items: center;
  background-color: var(--color-button);
  color: var(--color-white);
  padding: 2px 4px;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  cursor: pointer;
  gap: 4px;
}

.nav-icon-search-ctrl {
  margin-left: 50px;
}

.nav-icon-section {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.nav-icon-link {
  color: var(--color-white);
  text-decoration: none;
}

.nav-select {
  background-color: transparent;
  color: var(--color-white);
  border: none;
}

.nav-select-bar {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.nav-select-bar::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--color-white);
}

.nav-select-bar::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--color-white);
}

.nav-select-option {
  background-color: var(--color-gray);
}

.menu, .menu-button {
  display: none;
}